:root {
  @include print-palette($palette-dark);
}

html {
  scroll-behavior: smooth;
}

body {
  --colour-text: var(--palette-base_4);
  --colour-background: var(--palette-base_0);
  --colour-background_trans: var(--palette-base_0__trans);
  --colour-background_semi-trans: var(--palette-base_0__semi-trans);
  --colour-background_contrast: var(--palette-base_1);
  --colour-main: var(--palette-main_0);
  --colour-contrast: var(--palette-contrast_0);

  --site-padding: #{$base-line-height};
}