:root {
  @include print-palette($palette-dark);
}

html {
  scroll-behavior: smooth;
}

body {
  --colour-text: var(--palette-base_04);
  --colour-background: var(--palette-base_00);
  --colour-background_trans: var(--palette-base_00__trans);
  --colour-background_semi-trans: var(--palette-base_00__semi-trans);
  --colour-background_contrast: var(--palette-base_01);
  --colour-main: var(--palette-main_00);
  --colour-contrast: var(--palette-contrast_00);

  --site-padding: #{$base-line-height};
}