{# Load sizes from json #}
{% set sizes = load_data(path="templates/shortcodes/gallery_sizes.json", format="json") %}

<ul class="gallery jsLightbox">
  {% for asset in page.assets %}
    {% if asset is matching("[.](jpg|png)$") %}
      {% set filename = asset | split(pat="/") | last | split(pat=".") | first %}
      {% set alt = "" %}
      {% if page.extra.assets[filename].alt %}
        {% set alt = page.extra.assets[filename].alt %}
      {% endif %}
      <li class="gallery-item">
        <figure>
          <a href="{{ get_url(path=asset) }}">
            <picture>
              {#- Jpeg srcset -#}
              <source type="image/jpeg" srcset="
                {%- for size in sizes %}
                  {{- resize_image(path=asset, width=size.width, height=size.height) }} {{ size.width }}w
                  {%- if not loop.last %}, {% endif -%}
                {% endfor -%}
                " sizes="(min-width: 1200px) 350px, (min-width: 992px) 33.3vw, (min-width: 768px) 50vw, 100vw" />

              {#- Jpeg fallback -#}
              {% set fallback = sizes | last %}
              <img src="{{ resize_image(path=asset, width=fallback.width, height=fallback.height) }}" alt="{{ alt }}" width="{{ fallback.width }}" height="{{ fallback.height }}" loading="lazy" />
            </picture>
          </a>
          {% if page.extra.assets[filename].caption %}
            <figcaption>
              {{ page.extra.assets[filename].caption }}
            </figcaption>
          {% endif %}
        </figure>
      </li>
    {% endif %}
  {% endfor %}
</ul>