{# determine banner image #}
{% if this.extra.banner %}
  {# if this has banner use that #}
  {% set banner = this.extra.banner %}
{% elif this.ancestors %}
  {# otherwise walk back over ancestors and use first banner found #}
  {% for parent in this.ancestors | reverse %}
    {% set sec = get_section(path=parent, metadata_only=true) %}
    {% if sec.extra.banner %}
      {% set_global banner = sec.extra.banner %}
      {% break %}
    {% endif %}
  {% endfor %}
{% else %}
  {# if still nothing was found use root #}
  {% set sec = get_section(path="_index.md", metadata_only=true) %}
  {% if sec.extra.banner %}
    {% set_global banner = sec.extra.banner %}
  {% endif %}
{% endif %}
{# Setup aliases #}
{% set landscape = banner.landscape %}
{% set portrait = banner.portrait | default(value=landscape) %}
{% set landscape = "../static" ~ landscape %}
{% set portrait = "../static" ~ portrait %}

{# Load sizes from json #}
{% set sizes = load_data(path="templates/includes/banner_sizes.json", format="json") %}

<picture class="banner">
  {#- Jpeg portrait -#}
  <source media="(orientation:portrait)" type="image/jpeg" srcset="
    {%- for size in sizes %}
      {{- resize_image(path=portrait, width=size.height, height=size.width) }} {{ size.height }}w
      {%- if not loop.last %}, {% endif -%}
    {% endfor -%}
    " sizes="(min-width: 992px) 100vw, 50vw" />

  {#- Jpeg landscape -#}
  <source media="(orientation:landscape)" type="image/jpeg" srcset="
    {%- for size in sizes %}
      {{- resize_image(path=landscape, width=size.width, height=size.height) }} {{ size.width }}w
      {%- if not loop.last %}, {% endif -%}
    {% endfor -%}
    " sizes="(min-width: 992px) 100vw, 50vw" />

  {#- Jpeg fallback -#}
  {% set fallback = sizes | last %}
  <img src="{{ resize_image(path=landscape, width=fallback.width, height=fallback.height) }}" width="{{ fallback.width }}" height="{{ fallback.height }}" alt="" loading="eager" />
</picture>