{# determine banner image #}
{% if this.extra.banner %}
  {# if this has banner use that #}
  {% set file = this.extra.banner %}
{% elif this.ancestors %}
  {# otherwise walk back over ancestors and use first banner found #}
  {% for parent in this.ancestors | reverse %}
    {% set sec = get_section(path=parent, metadata_only=true) %}
    {% if sec.extra.banner %}
      {% set file = sec.extra.banner %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}
{# if sitll nothing was found use default #}
{% set file = file | default(value="/img/banners/banner_trees.jpg") %}
{% set banner = "../static" ~ file %}

<picture class="banner">
  <source media="(orientation:portrait)" srcset="
    {{ resize_image(path=banner, width=792, height=1408) }} 1408w,
    {{ resize_image(path=banner, width=720, height=1280) }} 720w,
    {{ resize_image(path=banner, width=360, height=640) }} 360w" sizes="100vw" />

  <source media="(orientation:landscape)" srcset="
    {{ resize_image(path=banner, width=2560, height=1440) }} 2560w,
    {{ resize_image(path=banner, width=1920, height=1080) }} 1920w,
    {{ resize_image(path=banner, width=1280, height=720) }} 1280w,
    {{ resize_image(path=banner, width=640, height=360) }} 640w" sizes="100vw" />

  <img src="{{ resize_image(path=banner, width=1920, height=1080) }}" alt="" loading="eager" />
</picture>