<main id="content" class="site-content">
  {% if section.content %}
    {{ section.content | safe }}
  {% endif %}
  {% for post in paginator.pages %}
    <article class="post">
      <header>
        <h2 class="post-title" id="post-{{ loop.index0}}"><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
        <p class="meta">
          <span>Posted on <time class="entry-date published" datetime="{{ post.date }}">{{ post.date }}</time></span>
          {% if post.taxonomies.categories %}
            in
            {% for category in post.taxonomies.categories %}
              <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">
                {{ category }}
              </a>
            {% endfor %}
          {% endif %}
        </p>
      </header>
      {% if post.extra.excerpt or post.description %}
      <div class="excerpt">
        <p>{{ post.extra.excerpt | default(value=post.description) | safe }}</p>
        <p><a href="{{ post.permalink }}">Continue Reading <span class="screen-reader-text">{{ post.title }}</span></a></p>
      </div>
      {% endif %}
    </article>
  {% endfor %}
  {% if paginator.next or paginator.previous %}
  <nav aria-label="pagination">
      <ul class="menu btn-bar">
          {% if paginator.previous %}
          <li>
            <a href="{{ paginator.previous }}" class="btn reverse">Newer posts.</a>
          </li>
          {% endif %}
          {% if paginator.next %}
          <li>
            <a href="{{ paginator.next }}" class="btn">Older posts.</a>
          </li>
          {% endif %}
      </ul>
  </nav>
  {% endif %}
</main>
