<main class="site-content">
  {% for post in section.pages %}
    <article class="post">
      <header>
        <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
        <div class="meta">
          <span>Posted on <time class="entry-date published" datetime="{{ post.date }}">{{ post.date }}</time></span>
          {% if page.taxonomies.authors %}
          by
          {% for author in page.taxonomies.authors %}
          <a href="{{ get_taxonomy_url(kind="authors", name=author) | safe }}">
              <span class="tag is-primary">{{ author }} </span>
          </a>
          {% if page.taxonomies.authors | length > 1 %}
          {% if loop.index != page.taxonomies.authors | length %}
          {% if loop.index == page.taxonomies.authors | length - 1 %}
          and
          {% else %}
          ,
          {% endif %}
          {% endif %}
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </header>
      {% if post.description %}
      <div class="excerpt">
        <p>{{ post.description }}</p>
      </div>
    </article>
    {% endif %}
  {% endfor %}
</main>
