{# Setup this value independent of whether page or section #}
{% if page %}
  {% set this = page %}
{% elif section %}
  {% set this = section %}
{% endif %}
<header class="site-header">
  <div class="site-branding">
    {% if this.title %}
      <h1 class="site-title">{{ this.title }}</h1>
    {% endif %}
      <p class="site-description"><a href="/" rel="home">Pinopticon.net</a></p>
  </div>
  {% if this.extra.banner %}
    {% set banner = "../static" ~ this.extra.banner %}
  {% else %}
    {% set banner = "../static/img/banners/banner_trees.jpg" %}
  {% endif %}

  <picture class="banner">
    <source media="(orientation:portrait)" srcset="
      {{ resize_image(path=banner, width=792, height=1408) }} 1408w,
      {{ resize_image(path=banner, width=720, height=1280) }} 720w,
      {{ resize_image(path=banner, width=360, height=640) }} 360w"
    >
    <source media="(orientation:landscape)" srcset="
      {{ resize_image(path=banner, width=2560, height=1440) }} 2560w,
      {{ resize_image(path=banner, width=1920, height=1080) }} 1920w,
      {{ resize_image(path=banner, width=1280, height=720) }} 1280w,
      {{ resize_image(path=banner, width=640, height=360) }} 640w"
    >
    <img src="{{ resize_image(path=banner, width=1920, height=1080) }}" alt="" />
  </picture>
</header>
