<header class="site-header">
  <div class="site-branding">
    {% if section.title %}
      <h1 class="site-title">{{ section.title }}</h1>
    {% endif %}
    {% if section.description %}
      <p class="site-description">{{ section.description }}</p>
    {% endif %}
  </div>
  {% if section.extra.banner %}
    {% set banner = "../static" ~ section.extra.banner %}
  {% else %}
    {% set banner = "../static/img/banners/banner_trees.jpg" %}
  {% endif %}

  <img src="{{ resize_image(path=banner, width=1920, height=1080) }}" alt="" class="banner" />
</header>
