//Setup this value independent of whether page or section
{% if page %}
  {% set this = page %}
{% elif section %}
  {% set this = section %}
{% endif %}
<header class="site-header">
  <div class="site-branding">
    {% if this.title %}
      <h1 class="site-title">{{ this.title }}</h1>
    {% endif %}
      <p class="site-description"><a href="/" rel="home">Pinopticon.net</a></p>
  </div>
  {% if this.extra.banner %}
    <img src="{{ get_url(path=this.extra.banner) }}" alt="" class="banner" />
  {% else %}
    <img src="{{ get_url(path="img/banner.jpg") }}" alt="" class="banner" />
  {% endif %}
</header>
