<header class="site-header">
  <div class="site-branding">
    {% if section.title %}
      <h1 class="site-title">{{ section.title }}</h1>
    {% endif %}
    {% if section.description %}
      <p class="site-description">{{ section.description }}</p>
    {% endif %}
  </div>
  {% if section.extra.banner %}
    {% set banner = "../static" ~ section.extra.banner %}
  {% else %}
    {% set banner = "../static/img/banners/banner_trees.jpg" %}
  {% endif %}

  <picture class="banner">
    <source media="(orientation:portrait)" srcset="
      {{ resize_image(path=banner, width=792, height=1408) }} 1408w,
      {{ resize_image(path=banner, width=720, height=1280) }} 720w,
      {{ resize_image(path=banner, width=360, height=640) }} 360w"
    >
    <source media="(orientation:landscape)" srcset="
      {{ resize_image(path=banner, width=2560, height=1440) }} 2560w,
      {{ resize_image(path=banner, width=1920, height=1080) }} 1920w,
      {{ resize_image(path=banner, width=1280, height=720) }} 1280w,
      {{ resize_image(path=banner, width=640, height=360) }} 640w"
    >
    <img src="{{ resize_image(path=banner, width=1920, height=1080) }}" alt="" />
  </picture>
</header>
