{# Setup this value independent of whether page or section #}
{% if page %}
  {% set this = page %}
{% elif section %}
  {% set this = section %}
{% endif %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" href="{{ get_url(path='css/main.css') }}" />

  {% if this.title %}
    <title>{{ this.title }}</title>
  {% else %}
    <title>{{ config.title }}</title>
  {% endif %}
</head>

{% if this.extra.class %}
  <body class="page {{ this.extra.class }}">
{% else %}
  <body class="page">
{%  endif %}
