{# Set archive to either content in case of section, or direct ancestor in case of post #}
{% if page.ancestors %}
  {% set parent = page.ancestors | last %}
  {% set archive = get_section(path=parent) %}
{% elif section %}
  {% set archive = section %}
{% endif %}
<aside class="site-sidebar">
  {% if archive.pages %}
    <h2>Recent Posts</h2>
    <ul>
      {% for post in archive.pages | reverse %}
        {% if loop.index > 4 %}{% break %}{% endif %}
        <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</aside>
