{# Set archive to either content in case of section, or direct ancestor in case of post #}
{% if page.ancestors %}
  {% set parent = page.ancestors | last %}
  {% set archive = get_section(path=parent) %}
{% elif section %}
  {% set archive = section %}
{% endif %}
<aside class="site-sidebar">
  {% if archive.pages %}
    <h2>Recent Posts</h2>
    <ul>
      {% for post in archive.pages | sort(attribute="date") | reverse %}
        {% if loop.index > 4 %}{% break %}{% endif %}
        <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% for tax in config.taxonomies %}
    {% set taxonomy = get_taxonomy(kind=tax.name) %}
    <h2><a href="{{ get_url(path=tax.name) }}">{{tax.name | title }}</a></h2>
    {% if taxonomy.items | length > 0 %}
      <ul>
      {% for taxonomy_item in taxonomy.items %}
        <li><a href="{{ get_taxonomy_url(kind=tax.name, name=taxonomy_item.name) }}">{{taxonomy_item.name}} ({{ taxonomy_item.pages | length }})</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
</aside>