{# Setup this value independent of whether page or section #}
{% if page %}
  {% set this = page %}
{% elif section %}
  {% set this = section %}
{% endif %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="{{ get_url(path='css/main.css') }}" />
    <link rel="icon" type="image/svg+xml" href="{{ get_url(path='img/favicon.svg') }}">

    {% if this.title %}
      <title>{{ this.title }}{% if config.title %} | {{ config.title }}{% endif %}</title>
    {% elif config.title %}
      <title>{{ config.title }}</title>
    {% endif %}
  </head>
  <body class="page {% block body_class %}{% endblock body_class %}">
    <header class="site-header">
      {% block skip_content %}{% endblock skip_content %}
      <div class="site-branding">
        {% block branding %}
          {% include "includes/branding__front.html" %}
        {% endblock branding %}
      </div>
      {% include "includes/banner.html" %}
    </header>
    <nav class="site-navigation" id="site-navigation">
      {% include "includes/nav.html" %}
    </nav>
    {% block content %}
    {% endblock content %}
    <script type="module" src="{{ get_url(path='js/site.js') }}"></script>
  </body>
</html>
