table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  border-top: 1px solid;
  border-left: 1px solid;
}

th,
td {
  padding: $base-line-height / 2;
  line-height: calc(#{$base-line-height} - 1px);
  border-bottom: 1px solid;
  border-right: 1px solid;
}

th {
  font-weight: bold;
}

tbody tr:first-of-type {

  th,
  td {
    padding-top: calc(#{$base-line-height / 2} - 1px);
  }
}

tbody tr:last-of-type {

  th,
  td {
    padding-bottom: calc(#{$base-line-height / 2} - 1px);
  }
}

td.good {
  color: var(--colour-background);
  background-color: var(--colour-text);
}

td.bad {
  color: var(--colour-background);
  background-color: var(--colour-main);
}

td p:first-child {
  margin-top: 0;
}

td p:last-child {
  margin-bottom: 0;
}