@include fontFace(
  $fontFamily: 'Muli',
  $src: '../fonts/Muli/',
  $fonts: (
    300: (
      normal: "muli-v19-latin-300",
      italic: "muli-v19-latin-300italic",
    ),
    400: (
      normal: "muli-v19-latin-regular",
      italic: "muli-v19-latin-italic",
    ),
    700: (
      normal: "muli-v19-latin-700",
      italic: "muli-v19-latin-700italic",
    )
  ),
  $display: optional
);

@include fontFace(
  $fontFamily: 'Lato',
  $src: '../fonts/Lato/',
  $fonts: (
    400: (
      normal: "lato-v16-latin-regular",
      italic: "lato-v16-latin-italic",
    )
  ),
  $display: optional
);

body {
    font-family: 'Lato', sans-serif;
    color: var(--text-colour);

    @include type-setting(0);
}

main {
  // Demonstrate the vertical rhythm at 12px
  background-image: linear-gradient(#eee 1px, transparent 1px);
  background-size: 100% $base-line-height;
}

p {
  @include type-setting(0);
  margin: $base-line-height 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: $base-line-height;
  margin-bottom: $base-line-height;

  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

h1 {
  @include type-setting(6);
}

h2 {
  @include type-setting(5);
}

h3 {
  @include type-setting(4);
}

h4 {
  @include type-setting(3);
}

h5 {
  @include type-setting(2);
}

h6 {
  @include type-setting(1);
}

small {
  @include type-setting(-1);
}

code {
  line-height: 0;
}
