//Body Colours
body {
  background-color: var(--background-colour);
  color: var(--text-colour);

  overflow-x: hidden;

  @media screen and (prefers-color-scheme: dark) {
    --text-colour: var(--monotones_base0);
    --background-colour: var(--monotones_base03);
  }
}

//Body Layout
body {
  display: grid;

  grid-template-columns: minmax(0, calc((100% - #{$breakpoint-xlarge}) / 2)) 1fr minmax(0, calc((100% - #{$breakpoint-xlarge}) / 2));
  grid-template-rows: auto calc(100vh - #{$base-line-height * 2.5}) 1fr auto;
  grid-template-areas:
  "nav nav nav"
  "header header header"
  ". main ."
  "footer footer footer"
  ;

  column-gap: var(--site-padding);

  min-height: 100vh;

  @media screen and (hover: hover) and (min-width: $breakpoint-large) {
    grid-template-rows: 100vh 1fr auto;
    grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer"
  ;
  }
}

.post, .archive {
  grid-template-columns: minmax(0, calc((100% - #{$breakpoint-xlarge}) / 2)) 1fr minmax(0, calc((100% - #{$breakpoint-xlarge}) / 2));
  grid-template-rows: auto calc(100vh - #{$base-line-height * 2.5}) 1fr repeat(2, auto);
  grid-template-areas:
    "nav nav nav"
    "header header header"
    ". main ."
    ". sidebar ."
    "footer footer footer"
  ;

  column-gap: var(--site-padding);

  @media screen and (hover: hover) and (min-width: $breakpoint-large) {
    grid-template-areas:
    "header header header header"
    ". main sidebar ."
    "footer footer footer footer";
    grid-template-columns: minmax(0, calc((100% - #{$breakpoint-xlarge}) / 2)) 1fr 40ch minmax(0, calc((100% - #{$breakpoint-xlarge}) / 2));
    grid-template-rows: 100vh 1fr auto;

    column-gap: var(--site-padding);
  };
}

.site-header {
  grid-area: header;
}

.site-navigation {
  grid-area: nav;
  padding: calc(var(--site-padding) / 2) var(--site-padding);

  @media screen and (hover: hover) and (min-width: $breakpoint-large) {
    grid-area: header;
  }
}

.banner {
  grid-area: header;
}

.site-content {
  grid-area: main;
}

.site-sidebar {
  grid-area: sidebar;
}

.site-footer {
  grid-area: footer;
  padding: 0 var(--site-padding);
}
