//Body Colours
body {
  background-color: var(--colour-background);
  color: var(--colour-text);

  overflow-x: hidden;
}

//Body Layout
body {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 100vh auto 1fr auto;
  grid-template-areas:
    "header"
    "breadcrumbs"
    "main"
    "footer"
  ;

  min-height: 100vh;
}

.post,
.archive {
  grid-template-rows: 100vh auto 1fr repeat(2, auto);
  grid-template-areas:
    "header"
    "breadcrumbs"
    "main"
    "sidebar"
    "footer"
  ;

  column-gap: var(--site-padding);

  @media screen and (min-width: $breakpoint-large) {
    grid-template-areas:
      "header header"
      "breadcrumbs ."
      "main sidebar"
      "footer footer";
    grid-template-columns: 1fr 40ch;
    grid-template-rows: 100vh auto 1fr auto;
  }
}

.site-header {
  grid-area: header;
}

.site-navigation {
  grid-area: header;
  padding: calc(var(--site-padding) / 2) var(--site-padding);
}

.breadcrumbs {
  grid-area: breadcrumbs;
  padding: 0 m#{a}x(var(--site-padding), 50% - #{$ideal-line-width / 2});
  ;
}

.site-content {
  grid-area: main;
  margin: 0 0 $base-line-height;
  padding: 0 var(--site-padding);
  display: grid;
  grid-template-columns: m#{a}x(0px, 50% - #{$ideal-line-width / 2}) 1fr m#{a}x(0px, 50% - #{$ideal-line-width / 2});
  grid-auto-rows: auto;

  &>* {
    grid-column: 2 / span 1;
  }

  &>.full-bleed {
    grid-column: 1 / span all;
  }
}

.no-layout {
  display: contents;
}

.site-sidebar {
  grid-area: sidebar;
  margin: 0;
  padding: 0 var(--site-padding);
}

.site-footer {
  grid-area: footer;
  padding: 0 var(--site-padding);
}