//Body Colours
body {
  background-color: var(--background-colour);
  color: var(--text-colour);

  overflow-x: hidden;

  @media screen and (prefers-color-scheme: dark) {
    --text-colour: var(--monotones_base0);
    --background-colour: var(--monotones_base03);
  }
}

//Body Layout
body {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto calc(100vh - #{$base-line-height * 2.5}) 1fr auto;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer"
  ;

  min-height: 100vh;

  @media screen and (hover: hover) and (min-width: $breakpoint-large) {
    grid-template-rows: 100vh 1fr auto;
    grid-template-areas:
    "header"
    "main"
    "footer"
  ;
  }
}

.post, .archive {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto) 1fr repeat(2, auto);
  grid-template-areas:
    "nav"
    "header"
    "main"
    "sidebar"
    "footer"
  ;

  @media screen and (hover: hover) and (min-width: $breakpoint-large) {
    grid-template-areas:
    "header header"
    "nav nav"
    "main sidebar"
    "footer footer";
    grid-template-columns: 1fr 40ch;
    grid-template-rows: auto auto 1fr auto;
  };
}

.site-header {
  grid-area: header;
}

.site-navigation {
  grid-area: nav;
  padding: calc(var(--site-padding) / 2) var(--site-padding);

  @media screen and (hover: hover) and (min-width: $breakpoint-large) {
    grid-area: header;
  }
}

.banner {
  grid-area: header;
}

.site-content {
  grid-area: main;
  padding: 0 var(--site-padding);
}

.site-sidebar {
  grid-area: sidebar;
  padding: 0 var(--site-padding);
}

.site-footer {
  grid-area: footer;
  padding: 0 var(--site-padding);
}
